.lecture-item {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: unset;
    border: none;
    margin-top: 10px;
    font-size: 17px;
    font-family: "TaylorSans", sans-serif;
    position: relative;
    border-bottom: 1px solid #38303B;
}

.circle-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F9DABD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 26px;
    line-height: 1;
}

.lecture-item-btn {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: 30px;
    margin-right: auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.lectures-btn-import {
    background-color: #548B74;
    color: #FAF3EB;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lectures-btn-import .circle-icon {
    background-color: #FAF3EB;
    color: #548B74;
    margin-right: 10px;
}

.lecture-actions {
    position: relative;
    display: flex;
    align-items: center;
}

.menu-toggle {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    color: #548B74;
}

.menu-toggle:hover {
    background-color: #FAF3EB;
}

.menu-toggle svg {
    width: 24px;
    height: 24px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FFFAF5;
    border-radius: 5px;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    width: 150px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    pointer-events: none;
}

.dropdown-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menu-item {
    color: #201209;
    background: none;
    border: none;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    font-family: "TaylorSans", sans-serif;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #FAF3EB;
    border-radius: 5px;
}

.menu-item:focus {
    outline: none;
}