.lecture-item {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: unset;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    font-family: "TaylorSans", sans-serif;
    position: relative;
    border-bottom: 1px solid #38303B;
}

.circle-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F9DABD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 26px;
    line-height: 1;
}

.lecture-item-btn {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: 30px;
    margin-right: auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.lecture-item-delete {
    width: 120px;
    height: 40px;
    background: #548B74;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: #FAF3EB;
    cursor: pointer;
    margin-left: auto;

    margin-right: 0;
}

.lectures-btn-import {
    background-color: #548B74;
    color: #FAF3EB;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lectures-btn-import .circle-icon {
    background-color: #FAF3EB;
    color: #548B74;
    margin-right: 10px;
}

.lecture-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.lecture-item-share {
    width: 120px;
    height: 40px;
    background: #548B74;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: #FAF3EB;
    cursor: pointer;
}